<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MDI_Raw_Material.Properties.Settings.СырьеConnectionString"
            connectionString="Data Source=DESKTOP-IQ5OFLO;Initial Catalog=Сырье;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>